In [2]:
import pandas as pd

In [3]:
sample_data = {'id': ['2323','7554','45454','32432'],
               'general_name': ['jam','icecream','jam','cake']}
df = pd.DataFrame(sample_data)
df

      id general_name
0   2323          jam
1   7554     icecream
2  45454          jam
3  32432         cake

In [4]:
df['unique_id'] = df.groupby('general_name')['id'].transform(lambda group: group.iloc[0])
df

      id general_name unique_id
0   2323          jam      2323
1   7554     icecream      7554
2  45454          jam      2323
3  32432         cake     32432

In [8]:
unique_table = df[['unique_id', 'general_name']].drop_duplicates()
unique_table

  unique_id general_name
0      2323          jam
1      7554     icecream
3     32432         cake

In [9]:
# unique_table.to_csv('unique_general_ids.csv', index=False)